<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span>Category</span> {{ category.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ category.name }}</span>
                </dd>
                <dt><span>Product Model</span></dt>
                <dd>
                    <span *ngFor="let productModel of category.productModels; let last = last">
                        <a [routerLink]="['/product-model', productModel?.id, 'view']">{{ productModel.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="category.category">
                        <a [routerLink]="['/category', category.category?.id, 'view']">{{ category.category?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
