<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading">Creer le stock du produit et definir la caracteristique</h2>

            <div>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nbStock">Nb Stock</label>
                    <input type="number" class="form-control" name="nbStock" id="field_nbStock"
                           formControlName="nbStock"/>
                    <div
                        *ngIf="editForm.get('nbStock')!.invalid && (editForm.get('nbStock')!.dirty || editForm.get('nbStock')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbStock')?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.get('nbStock')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_address">Caracteristique</label>
                    <select class="form-control" id="field_address" name="address" formControlName="caracteristic" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="caracteristic"
                            *ngFor="let caracteristic of caracteristics">{{ caracteristic.label }}
                            : {{caracteristic.value}}</option>
                    </select>
                </div>

            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <span>Annuler</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary"> <span>Sauvegarder</span>
                </button>
                <a type="button" id="save-entity" href="/caracteristic/new"
                   class="btn btn-primary">Creer une caracteristique
                </a>
            </div>
        </form>

    </div>
</div>
