<br>
<br>

<div class="container">
    <div class="alert alert-success text-center" role="alert" *ngIf="success">
        Changement d'informations validée
    </div>
    <mat-accordion class="example-headers-align ">
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-panel-description class="justify-content-center">
                        <span>
                            <p class="title">
                                <fa-icon  [icon]="infoIcon" class="fa-lg m-2"></fa-icon>
                        Changement de mes informations personnelles</p>
                          </span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <form name="form" role="form" (ngSubmit)="saveIdentity()" [formGroup]="settingsForm" *ngIf="currentUser">


                        <!-- lastname -->
                        <div class="row justify-content-center">
                            <div class="col-10">
                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary primary" for="lastName">Nom*</mat-label>
                                    <input matInput name="lastName" id="lastName" formControlName="lastName"/>
                                    <div *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('firstName')?.errors?.minlength">
                                            Votre prénom doit etre composé de au moins 1 caractère.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
                                            Votre prénom doit etre composé de au plus 50 caractères.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="addressForm.get('firstName')?.errors?.required">
                                            Vous devez entrer votre code postal.
                                        </small>
                                    </div>
                                </mat-form-field>

                                <!-- firstname -->


                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary" for="firstName">Prénom*</mat-label>
                                    <input matInput type="text" name="firstName" id="firstName" formControlName="firstName"/>
                                    <div *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('lastName')?.errors?.minlength">
                                            Votre nom doit etre composé de au moins 1 caractère.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
                                            Votre nom doit etre composé de au plus 50 caractères.
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>

                        <div class="row justify-content-center">
                            <div class="col-10">
                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary" for="email">Adresse mail*
                                    </mat-label>
                                    <input matInput type="text" name="email" id="email" size="50%"
                                           formControlName="email"/>
                                    <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.required">
                                            L'adresse mail est nécessaire.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.invalid">
                                            L'adresse mail est invalide.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.minlength">
                                            L'adresse mail doit contenir au minimum 5 caractères.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('email')?.errors?.maxlength">
                                            L'adresse mail ne doit pas contenir plus de 100 caractères.
                                        </small>
                                    </div>
                                </mat-form-field>


                                <!--  -->


                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary" for="phoneNumber">Numéro de téléphone*</mat-label>
                                    <input matInput type="text" name="phoneNumber" id="phoneNumber"
                                           formControlName="phoneNumber"/>
                                    <div *ngIf="settingsForm.get('phoneNumber')!.invalid && (settingsForm.get('phoneNumber')!.dirty || settingsForm.get('phoneNumber')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('phoneNumber')?.errors?.required">
                                            Le numéro de téléphone est nécessaire.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('phoneNumber')?.errors?.minlength || settingsForm.get('phoneNumber')?.errors?.maxlength">
                                            Le numéro de téléphone doit etre composé de 10 chiffres.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="settingsForm.get('phoneNumber')?.errors?.pattern">
                                            Le numéro de téléphone doit etre au format: 0612345678.
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>

                        <div>

                            <!-- postCode -->

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <mat-form-field>
                                        <mat-label class="form-control-label text-secondary" for="postCode">Date de naissance*</mat-label>
                                        <input matInput type="date" name="birthdDate" id="birthdDate"
                                               formControlName="birthdDate" />
                                        <div *ngIf="settingsForm.get('birthDate')!.invalid && (settingsForm.get('birthDate')!.dirty || settingsForm.get('birthDate')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="settingsForm.get('birthDate')?.errors?.required">
                                                Le date de naissance est nécessaire.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                    <div class="row justify-content-end">
                                        <mat-action-row >
                                            <button mat-button class="btn btn-secondary" (click)="nextStep()" type="submit"
                                            >Confirmer mes changements
                                            </button>
                                        </mat-action-row>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
            </div>

        </div>

        <!-- CB form -->

        <div class="row justify-content-center">
            <div class="col-6">
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-panel-description class="justify-content-center">
                            <span>
                                    <p class="title" >
                                        <fa-icon  [icon]="addressIcon" class="fa-lg m-2"></fa-icon>
                                Changer mon adresse</p>
                                  </span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <form name="paymentForm" role="form" [formGroup]="addressForm"
                          (ngSubmit)="saveAddress()">


                        <div class="row justify-content-center">
                            <div class="col-10">
                                <mat-form-field>
                                    <mat-label for="streetNumber">Numero de voie*
                                    </mat-label>
                                    <input matInput type="text" name="streetNumber" id="streetNumber" size="50%"
                                           formControlName="streetNumber"/>
                                    <div
                                        *ngIf="addressForm.get('streetNumber')!.invalid && (addressForm.get('streetNumber')!.dirty || addressForm.get('streetNumber')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="addressForm.get('streetNumber')?.errors?.required">
                                            Vous devez entrer le numéro de voie.
                                        </small>
                                    </div>
                                </mat-form-field>


                                <!-- street -->


                                <mat-form-field>
                                    <mat-label class="text-secondary" for="street">Rue*</mat-label>
                                    <input matInput type="text" name="street" id="street"
                                           formControlName="street"/>
                                    <div
                                        *ngIf="addressForm.get('street')!.invalid && (addressForm.get('street')!.dirty || addressForm.get('street')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="addressForm.get('street')?.errors?.required">
                                            Vous devez entrer votre rue.
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-10">
                                <mat-form-field>
                                    <mat-label class="text-secondary" for="postCode">Code postal*</mat-label>
                                    <input matInput type="text" name="postCode" id="postCode"
                                           formControlName="postCode" />
                                    <div
                                        *ngIf="addressForm.get('postCode')!.invalid && (addressForm.get('postCode')!.dirty || addressForm.get('postCode')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="addressForm.get('postCode')?.errors?.required">
                                            Vous devez entrer votre code postal.
                                        </small>
                                    </div>

                                </mat-form-field>


                                <mat-form-field>
                                    <mat-label class="text-secondary" for="city">Ville*</mat-label>
                                    <input matInput type="text" name="city" id="city"
                                           formControlName="city"/>
                                    <div
                                        *ngIf="addressForm.get('city')!.invalid && (addressForm.get('city')!.dirty || addressForm.get('city')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="addressForm.get('city')?.errors?.required">
                                            Vous devez entrer votre ville.
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>




                        <mat-action-row>
                            <button mat-button class="btn btn-secondary" (click)="nextStep()" type="submit"
                                    [disabled]="!addressForm.valid">Confirmer mon changement d'adresse
                            </button>
                        </mat-action-row>



                    </form>
                </mat-expansion-panel>
            </div>
        </div>
    </mat-accordion>
</div>
