<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading">Create or edit a Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_validationDate">Validation Date</label>
                    <div class="input-group">
                        <input id="field_validationDate" type="text" class="form-control" name="validationDate" ngbDatepicker #validationDateDp="ngbDatepicker" formControlName="validationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('validationDate')!.invalid && (editForm.get('validationDate')!.dirty || editForm.get('validationDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validationDate')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_deliveryLastName">Delivery Last Name</label>
                    <input type="text" class="form-control" name="deliveryLastName" id="field_deliveryLastName"
                           formControlName="deliveryLastName"/>
                    <div *ngIf="editForm.get('deliveryLastName')!.invalid && (editForm.get('deliveryLastName')!.dirty || editForm.get('deliveryLastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deliveryLastName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_deliveryFirstName">Delivery First Name</label>
                    <input type="text" class="form-control" name="deliveryFirstName" id="field_deliveryFirstName"
                           formControlName="deliveryFirstName"/>
                    <div *ngIf="editForm.get('deliveryFirstName')!.invalid && (editForm.get('deliveryFirstName')!.dirty || editForm.get('deliveryFirstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deliveryFirstName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="COMPLETED">COMPLETED</option>
                        <option value="INPROCESS">INPROCESS</option>
                        <option value="PAID">PAID</option>
                        <option value="SENT">SENT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_deliveryAddress">Delivery Address</label>
                    <select class="form-control" id="field_deliveryAddress" name="deliveryAddress" formControlName="deliveryAddress">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id === editForm.get('deliveryAddress')!.value?.id ? editForm.get('deliveryAddress')!.value : addressOption" *ngFor="let addressOption of deliveryaddresses; trackBy: trackById">{{ addressOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_shoppingCart">Shopping Cart</label>
                    <select class="form-control" id="field_shoppingCart" name="shoppingCart" formControlName="shoppingCart">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="shoppingCartOption.id === editForm.get('shoppingCart')!.value?.id ? editForm.get('shoppingCart')!.value : shoppingCartOption" *ngFor="let shoppingCartOption of shoppingcarts; trackBy: trackById">{{ shoppingCartOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" formControlName="customer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption" *ngFor="let customerOption of customers; trackBy: trackById">{{ customerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
