<div>
    <h2 id="page-heading">
        <span>Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
        <span>No orders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orders && orders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Validation Date</span></th>
                    <th scope="col" ><span>Delivery Last Name</span></th>
                    <th scope="col" ><span>Delivery First Name</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Delivery Address</span></th>
                    <th scope="col" ><span>Shopping Cart</span></th>
                    <th scope="col" ><span>Customer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders ;trackBy: trackId">
                    <td><a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a></td>
                    <td>{{ order.validationDate | date:'mediumDate' }}</td>
                    <td>{{ order.deliveryLastName }}</td>
                    <td>{{ order.deliveryFirstName }}</td>
                    <td>{{ order.status }}</td>
                    <td>
                        <div *ngIf="order.deliveryAddress">
                            <a [routerLink]="['/address', order.deliveryAddress?.id, 'view']" >{{ order.deliveryAddress?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="order.shoppingCart">
                            <a [routerLink]="['/shopping-cart', order.shoppingCart?.id, 'view']" >{{ order.shoppingCart?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="order.customer">
                            <a [routerLink]="['/customer', order.customer?.id, 'view']" >{{ order.customer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order', order.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(order)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
