<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span>Order</span> {{ order.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Validation Date</span></dt>
                <dd>
                    <span>{{ order.validationDate }}</span>
                </dd>
                <dt><span>Delivery Last Name</span></dt>
                <dd>
                    <span>{{ order.deliveryLastName }}</span>
                </dd>
                <dt><span>Delivery First Name</span></dt>
                <dd>
                    <span>{{ order.deliveryFirstName }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ order.status }}</span>
                </dd>
                <dt><span>Delivery Address</span></dt>
                <dd>
                    <div *ngIf="order.deliveryAddress">
                        <a [routerLink]="['/address', order.deliveryAddress?.id, 'view']">{{ order.deliveryAddress?.id }}</a>
                    </div>
                </dd>
                <dt><span>Shopping Cart</span></dt>
                <dd>
                    <div *ngIf="order.shoppingCart">
                        <a [routerLink]="['/shopping-cart', order.shoppingCart?.id, 'view']">{{ order.shoppingCart?.id }}</a>
                    </div>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <div *ngIf="order.customer">
                        <a [routerLink]="['/customer', order.customer?.id, 'view']">{{ order.customer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
