@import './src/main/webapp/content/scss/bootstrap-variables';
@import '~bootstrap/scss/variables';
/* ==========================================================================
Footer
========================================================================== */
.footer-link {
  color: $light;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
