<table mat-table [dataSource]="orderLineAndCaracteristics" class="mat-elevation-z8 ">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Produit</th>
        <td mat-cell *matCellDef="let element" class="size-60 ">
            <div class="row m-2">
                <div class="col-2 hidden-xs vertical-center"
                     *ngIf="element.orderline.product && element.orderline.product.productModel && element.orderline.product.productModel.imageUrl">
                    <img style="max-width: 80%" src="{{element.orderline.product.productModel.imageUrl}}"
                         alt="..."
                         class="img-responsive"/>
                </div>
                <div class="col-10 vertical-center"
                     *ngIf="element.orderline.product && element.orderline.product.productModel && element.orderline.product.productModel.label && element.orderline.product.productModel.description">
                    <h4 class="nomargin">{{element.orderline.product.productModel.label}}</h4>
                    <p class="nomargin">{{element.orderline.product.productModel.description}}</p>
                </div>
            </div>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <button mat-raised-button (click)="previousState()" class=" btn btn-warning m-3">
                <fa-icon [icon]="arrowLeftIcon" [fixedWidth]="true" class="fa fa-angle-right"></fa-icon>
                continuer mes achats
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="caracteristic">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="size-10">
            <span class="font-weight-bold">
            {{element.caracteristics.label}}:   {{element.caracteristics.value}}
            </span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Prix</th>
        <td mat-cell *matCellDef="let element" class="size-10">
            {{element.orderline.product.productModel.price}}€
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantité</th>
        <td mat-cell *matCellDef="let element" class="size-8">
            <input type="number" class="text-center" [(ngModel)]="element.orderline.quantity"
                   (change)="changeQuantity(element.orderline)" min="1" >
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef> Sous Total</th>
        <td mat-cell *matCellDef="let element" class="size-12">
            {{element.orderline.priceLine}}
        </td>
        <td mat-footer-cell *matFooterCellDef><strong *ngIf="shoppingCart"
                                                      class="font-weight-bold">Total: {{shoppingCart.totalPrice}}
            €</strong></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deleteButton">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="size-10">
            <button mat-raised-button class="btn btn-danger btn-sm"
                    (click)="deleteOrderline(element.orderline)">
                <fa-icon [icon]="thrashIcon" [fixedWidth]="true" class="fa-lg"></fa-icon>
            </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <a href="paiement">
                <button mat-raised-button class="btn btn-success">Passer Commande
                    <fa-icon [icon]="arrowRightIcon" [fixedWidth]="true" class="fa fa-angle-left"></fa-icon>
                </button>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

</table>


