input[type='number'] {
  /* Set width to 40characters */
  width: 6.7ch;
}

.mat-full-size {
  width: 120%;
}

.vertical-center {
  vertical-align: middle;
}

.nomargin {
  margin-bottom: 0;
}

.size-60 {
  width: 60%;
}

.size-10 {
  width: 10%;
}
.size-8 {
  width: 8%;
}
.size-12 {
  width: 12%;
}
