@import './src/main/webapp/content/scss/bootstrap-variables';

.searchStyle {
  background-color: $green;
  border-radius: 0;
  border-color: $brown-dark;
}

.searchStyle::placeholder {
  color: $brown-dark;
}

.searchButton {
  border-color: $primary;
  color: white;
}

.searchButton:hover {
  border-color: $brown-dark;
  color: white;
}

.classicFont {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

ngb-typeahead-window button:active {
  background-color: $brown-light;
}
