
<ng-template #rt let-r="result" let-t="term" >
    <div class="row lineStyle" style="width: 485px">
        <div class="col-2">
            <img [src]="r.imageUrl" style="width: 16px">
        </div>
        <div class="col-8">
            <h6>
                <ngb-highlight class="classicFont" [result]="r.label" [term]="t"></ngb-highlight>
                <div class="small" [textContent]="r.brand" ></div>
            </h6>
        </div>
    </div>
</ng-template>

<div class="input-group">
    <input style="width: 500px" type="text" class="form-control searchStyle rounded-left" placeholder="Rechercher..."
           [inputFormatter]="formatter" [ngbTypeahead]="search" [(ngModel)]="selectedProduct" [resultTemplate]="rt" (keyup)="onKey($event)" (ngModelChange)="goToDetails()" (selectItem)="goToDetails()"/>
    <span class="input-group-append " >
        <button class="btn bg-secondary border-left-0" type="button">
            <fa-icon icon="search" class="searchButton"></fa-icon>
        </button>
    </span>
</div>




