<div *ngIf="productModel" class="container-fluid">
    <div class="row">
        <button mat-raised-button class="btn btn-outline-secondary" (click)="previousState()">Retour aux résultats de la recherche</button>
    </div>

    <hr class="w-100">

    <div class="row">
        <div>
            <h1 class="text-primary">{{productModel.label}}</h1>
        </div>
    </div>

    <div class="row justify-content-around">

        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <img src="{{productModel.imageUrl}}" class="img-fluid img-max img-hover-zoom" alt="image du produit">
                </div>
                <div class="col-12">

                    <div class="row mt-5">
                        <div class="col-12">
                            <h1 class="text-primary">Description</h1>
                        </div>
                        <div class="col-12">
                            <p>{{productModel.description}}</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <mat-card class="col-sm-12 my-sm-5 col-md-4 border-primary" style="width: 18rem;padding:0">
            <form (ngSubmit)="addProduct()">
                <div class="card-header text-center ">
                    <h1 class="card-title display-4 text-primary">{{productModel.price}}€</h1>
                </div>

                <div class="card-body text-left">
                    <h5>Sélectionnez vos options</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <jhi-filter [productModel]="productModel"
                                        (caracteristicOutput)="getCaracteristic($event)"></jhi-filter>
                        </li>
                        <li class="list-group-item">
                            <mat-form-field>
                                <mat-label>Quantité</mat-label>
                                <input matInput type="number" name="quantity" placeholder="1" min="1" id="quantity"
                                       [(ngModel)]="quantity">
                            </mat-form-field>
                        </li>
                    </ul>
                </div>

                <div class="card-footer text-right bg-primary">
                    <button mat-raised-button type="submit" class="btn btn-secondary">Ajouter au panier</button>
                </div>
            </form>
        </mat-card>

    </div>
</div>



