<div class="container-fluid">

    <div class="row">
        <div class="col-12">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item" *ngFor="let c of historicsCategories">
                        <a  href="/c/{{c.name}}">{{c.name}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{lastCategory?.name}}</li>
                </ol>
            </nav>

        </div>
    </div>


    <div class="row justify-content-around tableRow mt-5">
        <div class="col-3 colEqualizer"  *ngFor="let cat of childrenCategories">
            <a href="/c/{{cat.name}}" class="card btn border-secondary btn-outline-secondary">
                <div class="card-body">
                    <h5 class="card-title text-center">{{cat.name}}</h5>
                </div>
            </a>
        </div>

        <div class="row">
            <div  class="container-fluid" *ngIf="isLeaf">
                <jhi-list-product [listProductModel]="listProductModel"></jhi-list-product>
            </div>
        </div>

    </div>
</div>



