<div>
    <h2 id="page-heading">
        <span>Modele de produit</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-model" [routerLink]="['/product-model/new']">
            <span class="hidden-sm-down">
            Creer un nouveau produit
            </span>
        </button>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="productModels?.length === 0">
        <span>Aucun produit trouvé</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productModels && productModels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col" ><span>Nom</span></th>
                <th scope="col" ><span>Marque</span></th>
                <th scope="col" ><span>Prix</span></th>
                <th scope="col" ><span>Description</span></th>
                <th scope="col" ><span>Url image</span></th>
                <th scope="col" ><span>Nb vendu</span></th>
                <th scope="col" ></th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productModel of productModels">
                <td>{{ productModel.label }}</td>
                <td>{{ productModel.brand }}</td>
                <td>{{ productModel.price }}</td>
                <td>{{ productModel.description }}</td>
                <td>{{ productModel.imageUrl }}</td>
                <td>{{ productModel.nbSelled }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pm/stock', productModel.id]"
                                class="btn btn-primary btn-sm">
                            <span class="d-none d-md-inline">Stock</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
