<mat-form-field [formGroup]="selectForm">
    <mat-label>{{caracteristicLabel}}</mat-label>
    <select matNativeControl required formControlName="selectCaract" (change)="selectCaracteristic()">
        <option *ngFor="let list of listRes" [ngValue]="list">{{list.value}}</option>
    </select>
</mat-form-field>


