<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="caracteristic">
            <h2><span>Caracteristic</span> {{ caracteristic.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{ caracteristic.label }}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{ caracteristic.value }}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <span *ngFor="let product of caracteristic.products; let last = last">
                        <a [routerLink]="['/product', product?.id, 'view']">{{ product.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/caracteristic', caracteristic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
