<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Modification du mot de passe.</h1>

            <div class="alert alert-danger" *ngIf="initialized && !key">
                <strong>The password reset key is missing.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="key && !success">
                <span>Choisissez un nouveau mot de passe</span>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <span>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span>
            </div>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Votre mot de passe a été modifié.</strong> Please </span>
                <a class="alert-link" (click)="login()">Se connecter</a>.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Le mot de passe et la confirmation du mot de passe ne correspondent pas!
            </div>

            <div *ngIf="key && !success">
                <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
                    <div class="form-group">
                        <label class="form-control-label" for="newPassword">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword"
                               placeholder="New password"
                               formControlName="newPassword" #newPassword>

                        <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.required">
                                Le mot de passe est requis.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                                Le mot de passe doit etre composé d'au moins 4 caractères.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                                Le mot de passe doit etre composé d'au plus 50 caractères.
                            </small>
                        </div>

                        <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirm the new password"
                               formControlName="confirmPassword">

                        <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                                La confirmation du mot de passe est requis.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                                La confirmation du mot de passe doit etre composé d'au moins 4 caractères.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                                La confirmation du mot de passe doit etre composé d'au plus 50 caractères.
                            </small>
                        </div>
                    </div>

                    <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Changer le mot de passe</button>
                </form>
            </div>
        </div>
    </div>
</div>
