<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productModel">
            <h2><span>Product Model</span> {{ productModel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{ productModel.label }}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <span>{{ productModel.brand }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ productModel.price }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ productModel.description }}</span>
                </dd>
                <dt><span>Image Url</span></dt>
                <dd>
                    <span>{{ productModel.imageUrl }}</span>
                </dd>
                <dt><span>Nb Selled</span></dt>
                <dd>
                    <span>{{ productModel.nbSelled }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-model', productModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
