.txt {
  font-size: xx-large;
}
#thanks {
  background: white;
  padding: 50px;
  max-width: 520px;
  margin: 75px auto 25px auto;
  border-radius: 3px;
  color: #666;
}

#thanks #thank-you-message {
  margin-bottom: 20px;
  font-size: 1.3em;
  color: black;
}

.circle {
  fill: none;
  stroke: #81d135;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.circle-dash {
  fill: none;
  stroke: #81d135;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.circle-behind {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.circle-ahead {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.check-dash {
  fill: none;
  stroke: #81d135;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.check-behind {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.check-ahead {
  fill: none;
  stroke: #ffffff;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.check {
  fill: none;
  stroke: #81d135;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.circle {
  stroke-dasharray: 300;
  stroke-dashoffset: 0;
  -webkit-animation: circle 1.2s linear forwards;
  -o-webkit-animation: circle 1.2s linear forwards;
  -moz-webkit-animation: circle 1.2s linear forwards;
  animation: circle 1.2s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@-webkit-keyframes circle {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 000;
  }
}
.circle-dash {
  stroke-dasharray: 5;
  stroke-dashoffset: 0;
  -webkit-animation: circle-dash 1.2s linear forwards;
  -o-webkit-animation: circle-dash 1.2s linear forwards;
  -moz-webkit-animation: circle-dash 1.2s linear forwards;
  animation: circle-dash 1.2s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@-webkit-keyframes circle-dash {
  from {
    stroke-dashoffset: 305;
  }
  to {
    stroke-dashoffset: 000;
  }
}
.circle-behind {
  stroke-dasharray: 300;
  stroke-dashoffset: 0;
  -webkit-animation: circle-behind 1.2s linear forwards;
  -o-webkit-animation: circle-behind 1.2s linear forwards;
  -moz-webkit-animation: circle-behind 1.2s linear forwards;
  animation: circle-behind 1.2s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@-webkit-keyframes circle-behind {
  from {
    stroke-dashoffset: 290;
  }
  to {
    stroke-dashoffset: -15;
  }
}
.circle-ahead {
  stroke-dasharray: 315;
  stroke-dashoffset: 0;
  -webkit-animation: circle-ahead 1.2s linear forwards;
  -o-webkit-animation: circle-ahead 1.2s linear forwards;
  -moz-webkit-animation: circle-ahead 1.2s linear forwards;
  animation: circle-ahead 1.2s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@-webkit-keyframes circle-ahead {
  from {
    stroke-dashoffset: -26;
  }
  to {
    stroke-dashoffset: -330;
  }
}
.check {
  stroke-dasharray: 65;
  stroke-dashoffset: 0;
  -webkit-animation: check 1.6s linear forwards;
  -o-webkit-animation: check 1.6s linear forwards;
  -moz-webkit-animation: check 1.6s linear forwards;
  animation: check 1.6s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
}

@-webkit-keyframes check {
  from {
    stroke-dashoffset: 65;
  }
  to {
    stroke-dashoffset: 000;
  }
}
.check-dash {
  stroke-dasharray: 5;
  stroke-dashoffset: 0;
  -webkit-animation: check-dash 1.6s linear forwards;
  -o-webkit-animation: check-dash 1.6s linear forwards;
  -moz-webkit-animation: check-dash 1.6s linear forwards;
  animation: check-dash 1.6s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@-webkit-keyframes check-dash {
  from {
    stroke-dashoffset: 115;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.check-behind {
  stroke-dasharray: 115;
  stroke-dashoffset: 0;
  -webkit-animation: check-dash 1.6s linear forwards;
  -o-webkit-animation: check-dash 1.6s linear forwards;
  -moz-webkit-animation: check-dash 1.6s linear forwards;
  animation: check-dash 1.6s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.check-ahead {
  stroke-dasharray: 115;
  stroke-dashoffset: 0;
  -webkit-animation: check-ahead 1.6s linear forwards;
  -o-webkit-animation: check-ahead 1.6s linear forwards;
  -moz-webkit-animation: check-ahead 1.6s linear forwards;
  animation: check-ahead 1.6s linear forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@-webkit-keyframes check-ahead {
  from {
    stroke-dashoffset: -15;
  }
  to {
    stroke-dashoffset: -130;
  }
}
