<br>
<br>
<br>
<br>
<div class="container">
    <div class="row ">
        <div class="col-12  txt">
            <p class="text-center">
                Votre commande est validée !
                Merci d'avoir commandé, à bientot au jeune campeur !
            </p>
        </div>
        <div id="thanks">

            <svg style="width: 100px; margin-bottom: 25px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
				<circle class="circle-dash" cx="50.0000038" cy="50.0000076" r="47.75"></circle>
                <circle class="circle-ahead" cx="50.0000038" cy="50.0000076" r="47.75"></circle>
                <circle class="circle-behind" cx="50.0000038" cy="50.0000076" r="47.75"></circle>
                <circle class="circle" cx="50.0000038" cy="50.0000076" r="47.75"></circle>
                <polyline class="check-dash" points="28.5346107,51.0058517 42.1743011,64.645546 71.4653931,35.3544579 "></polyline>
                <polyline class="check-ahead" points="28.5346107,51.0058517 42.1743011,64.645546 71.4653931,35.3544579 "></polyline>
                <polyline class="check-behind" points="28.5346107,51.0058517 42.1743011,64.645546 71.4653931,35.3544579 "></polyline>
                <polyline class="check" points="28.5346107,51.0058517 42.1743011,64.645546 71.4653931,35.3544579 "></polyline>
			</svg>

        </div>
    </div>
</div>
