<div>
    <h2 id="page-heading">
        <span>Customers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer" [routerLink]="['/customer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Customer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
        <span>No customers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="customers && customers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Last Name</span></th>
                    <th scope="col" ><span>First Name</span></th>
                    <th scope="col" ><span>Password Hash</span></th>
                    <th scope="col" ><span>Birth Date</span></th>
                    <th scope="col" ><span>Phone Number</span></th>
                    <th scope="col" ><span>Credit Card Hash</span></th>
                    <th scope="col" ><span>Address</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers ;trackBy: trackId">
                    <td><a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a></td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.passwordHash }}</td>
                    <td>{{ customer.birthDate | date:'mediumDate' }}</td>
                    <td>{{ customer.phoneNumber }}</td>
                    <td>{{ customer.creditCardHash }}</td>
                    <td>
                        <div *ngIf="customer.address">
                            <a [routerLink]="['/address', customer.address?.id, 'view']" >{{ customer.address?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customer', customer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/customer', customer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(customer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
