<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{ customer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ customer.lastName }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ customer.firstName }}</span>
                </dd>
                <dt><span>Password Hash</span></dt>
                <dd>
                    <span>{{ customer.passwordHash }}</span>
                </dd>
                <dt><span>Birth Date</span></dt>
                <dd>
                    <span>{{ customer.birthDate }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ customer.phoneNumber }}</span>
                </dd>
                <dt><span>Credit Card Hash</span></dt>
                <dd>
                    <span>{{ customer.creditCardHash }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <div *ngIf="customer.address">
                        <a [routerLink]="['/address', customer.address?.id, 'view']">{{ customer.address?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
