<jhi-page-ribbon></jhi-page-ribbon>

<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<div class="container">
    <div>
        <div class="card jh-card">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<jhi-footer></jhi-footer>
