<div>
    <h2 id="page-heading">
        <span>Order Lines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-line" [routerLink]="['/order-line/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Order Line
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="orderLines?.length === 0">
        <span>No orderLines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orderLines && orderLines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Quantity</span></th>
                    <th scope="col" ><span>Price Line</span></th>
                    <th scope="col" ><span>Shopping Cart</span></th>
                    <th scope="col" ><span>Product</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderLine of orderLines ;trackBy: trackId">
                    <td><a [routerLink]="['/order-line', orderLine.id, 'view']">{{ orderLine.id }}</a></td>
                    <td>{{ orderLine.quantity }}</td>
                    <td>{{ orderLine.priceLine }}</td>
                    <td>
                        <div *ngIf="orderLine.shoppingCart">
                            <a [routerLink]="['/shopping-cart', orderLine.shoppingCart?.id, 'view']" >{{ orderLine.shoppingCart?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orderLine.product">
                            <a [routerLink]="['/product', orderLine.product?.id, 'view']" >{{ orderLine.product?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order-line', orderLine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order-line', orderLine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orderLine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
