<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderLine">
            <h2><span>Order Line</span> {{ orderLine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{ orderLine.quantity }}</span>
                </dd>
                <dt><span>Price Line</span></dt>
                <dd>
                    <span>{{ orderLine.priceLine }}</span>
                </dd>
                <dt><span>Shopping Cart</span></dt>
                <dd>
                    <div *ngIf="orderLine.shoppingCart">
                        <a [routerLink]="['/shopping-cart', orderLine.shoppingCart?.id, 'view']">{{ orderLine.shoppingCart?.id }}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="orderLine.product">
                        <a [routerLink]="['/product', orderLine.product?.id, 'view']">{{ orderLine.product?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-line', orderLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
