<br>
<div class="container">
    <div class="alert alert-success justify-content-center" *ngIf="success">
        <strong>Inscription validée!</strong> Un mail de confirmation vous a été envoyé.
    </div>

    <div class="alert alert-danger" *ngIf="error">
        <strong>Echec de l'inscription!</strong> Veuillez réessayer plus tard.
    </div>

    <div class="alert alert-danger" *ngIf="errorUserExists">
        <strong>Nom d'utilisateur déjà utilisé!</strong> Veuillez en choisir un autre.
    </div>

    <div class="alert alert-danger" *ngIf="errorEmailExists">
        <strong>Adresse mail déjà utilisée!</strong> Veuillez en choisir une autre.
    </div>

    <div class="alert alert-danger" *ngIf="doNotMatch">
        Les mots de passe sont différents!
    </div>


    <div class="row justify-content-center">
        <h2 class="title" *ngIf="!success">
            Changer mes informations personnelles
        </h2>
    </div>
    <br>
    <div class="row justify-content-center">

        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">

            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label class="form-control-label text-secondary" for="login">Nom d'utilisateur*</mat-label>
                        <input matInput type="text" id="login" name="login" placeholder="Entrez votre nom"
                               formControlName="login" #login>
                        <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('login')?.errors?.required">
                                Le nom d'utilisateur est nécessaire.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('login')?.errors?.minlength">
                                Le nom d'utilisateur doit contenir au minimum 1 caractère.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('login')?.errors?.maxlength">
                                Le nom d'utilisateur ne doit pas contenir plus de 50 caractères.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('login')?.errors?.pattern">
                                Le nom d'utilisateur doit uniquement contenir des lettres et/ou des chiffres.
                            </small>
                        </div>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label class="form-control-label text-secondary" for="email">Adresse mail*</mat-label>
                        <input matInput type="email" id="email" name="email" placeholder="Entrez votre adresse mail"
                               formControlName="email">
                        <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('email')?.errors?.required">
                                L'adresse mail est nécessaire.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('email')?.errors?.invalid">
                                L'adresse mail est invalide.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('email')?.errors?.minlength">
                                L'adresse mail doit contenir au minimum 5 caractères.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('email')?.errors?.maxlength">
                                L'adresse mail ne doit pas contenir plus de 100 caractères.
                            </small>
                        </div>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <mat-label class="form-control-label text-secondary" for="password">Mot de passe*
                        </mat-label>
                        <input matInput type="password" id="password" name="password" placeholder="Entrez un mot de passe"
                               formControlName="password">

                        <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('password')?.errors?.required">
                                Le mot de passe est nécessaire.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('password')?.errors?.minlength">
                                Le mot de passe doit contenir au minimum 4 caractères.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('password')?.errors?.maxlength">
                                Le mot de passe ne doit pas dépasser 50 caractères.
                            </small>
                        </div>

                    </mat-form-field>



                    <mat-form-field>
                        <mat-label class="form-control-label text-secondary" for="confirmPassword">Confirmation du mot de passe*</mat-label>
                        <input matInput type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmez le mot de passe"
                               formControlName="confirmPassword">
                        <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('confirmPassword')?.errors?.required">
                                La confirmation du mot de passe est nécessaire.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
                                Le mot de passe doit contenir au minimum 4 caractères.
                            </small>

                            <small class="form-text text-danger"
                                   *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
                                Le mot de passe ne doit pas dépasser 50 caractères.
                            </small>
                        </div>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
            </div>

            <div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label class="form-control-label text-secondary" for="birthDate">Date de naissance*</mat-label>
                            <input matInput type="date" id="birthDate" name="birthDate" placeholder="Date de naissance"
                                   formControlName="birthDate">
                            <div *ngIf="registerForm.get('birthDate')!.invalid && (registerForm.get('birthDate')!.dirty || registerForm.get('birthDate')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('birthDate')?.errors?.required">
                                    Le date de naissance est nécessaire.
                                </small>
                            </div>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label class="form-control-label text-secondary" for="phoneNumber">Numero de téléphone*</mat-label>
                            <input matInput id="phoneNumber" name="phoneNumber" placeholder="Entrez votre téléphone" formControlName="phoneNumber" #phoneNumber/>
                            <div *ngIf="registerForm.get('phoneNumber')!.invalid && (registerForm.get('phoneNumber')!.dirty || registerForm.get('phoneNumber')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('phoneNumber')?.errors?.required">
                                    Le numéro de téléphone est nécessaire.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('phoneNumber')?.errors?.minlength || registerForm.get('phoneNumber')?.errors?.maxlength">
                                    Le numéro de téléphone doit etre composé de 10 chiffres.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="registerForm.get('phoneNumber')?.errors?.pattern">
                                    Le numéro de téléphone doit etre au format: 0612345678.
                                </small>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <mat-action-row>
                        <button  type="submit"
                                 [disabled]="registerForm.invalid" class="btn btn-secondary">Valider l'inscription
                        </button>
                    </mat-action-row>
                </div>
            </div>
        </form>
    </div>
</div>



