@import './src/main/webapp/content/scss/bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/sandstone/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.navbar-title {
  font-size: 1.5em;
}
.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  .dropdown-item.active,
  .dropdown-item.active:focus {
    background-color: $green-light;
  }
  .dropdown-item.active:hover {
    background-color: $green-dark;
  }

  a.nav-link {
    font-weight: 400;
  }
  .navbar-badge {
    font-weight: bold;
    font-weight: 200;
  }
  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
