
<nav class="navbar bg-primary sticky-top" [hidden]="isCheckingOut"  >
    <div class="container-fluid d-flex justify-content-between">
        <!--        Left    -->
        <div>
            <div>
                <a class="navbar-brand logo" routerLink="/" >
                    <span class="logo-img"></span>
                    <span class="navbar-title text-light">Au Jeune Campeur</span>
                </a>
            </div>
        </div>
        <!--        Center-->
        <div>
            <div class="d-flex flex-fill mr-3 ">
                <!--Dropdown button Activité-->
                <div class="dropdown" ngbDropdown routerLinkActive="active" >
                    <a class="btn btn-secondary dropdown-toggle" (click)="updateCategoryList()" ngbDropdownToggle href="javascript:void(0);" role="button" style="margin-right:5px;" id="dropdownActivityMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Activités
                    </a>

                    <ul class="dropdown-menu dropdown-menu-left" ngbDropdownMenu aria-labelledby="dropdownActivityMenuLink">
                        <li *ngFor="let list of listCategory! |slice: 1">
                            <div *ngIf="list.category?.name == 'accueil'">
                                <a class="dropdown-item" ngbDropdownItem routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" href="/c/{{list.name}}"  >
                                    <fa-icon [icon]="activityIcon" [fixedWidth]="true" class="fa-lg"></fa-icon>
                                    <span class="text-center text-dark">{{list.name}}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>

                <jhi-search-bar></jhi-search-bar>

            </div>
        </div>

        <div>
            <div class="d-flex" id="navbarResponsive" [ngSwitch]="isAuthenticated()" [ngClass]="{ 'show': navbarOpen }">

                <!-- Bouton Entities-->
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown"  ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="btn btn-secondary dropdown-toggle"  ngbDropdownToggle role="button" href="javascript:void(0);" id="entity-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <span>
                            <fa-icon icon="th-list"></fa-icon>
                            <span class="text-center ">Entités</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="customer" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Customer</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="address" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Address</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="manager" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Manager</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"  ngbDropdownItem routerLink="order" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Order</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="shopping-cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Shopping Cart</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="order-line" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Order Line</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"  ngbDropdownItem routerLink="product-model" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Product Model</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="product" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Product</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="caracteristic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center ">Caracteristic</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">Category</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </div>

                <!-- Bouton Administration-->
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a class="btn btn-secondary dropdown-toggle ml-1" ngbDropdownToggle role="button" href="javascript:void(0);" id="admin-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span class="text-center text-light">Administration</span>
                    </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="admin-menu">
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">User management</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">Metrics</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">Health</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="bell" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">Audits</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" ngbDropdownItem routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">Logs</span>
                            </a>
                        </li>
                        <li *ngIf="swaggerEnabled">
                            <a class="dropdown-item" ngbDropdownItem routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li *ngIf="!inProduction">
                            <a class="dropdown-item" ngbDropdownItem href='./h2-console' target="_tab" (click)="collapseNavbar()">
                                <fa-icon icon="hdd" [fixedWidth]="true"></fa-icon>
                                <span class="text-center">Database</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Button Compte client-->
                <div routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a *ngSwitchCase="false" class="btn btn-secondary mr-1 text-light" role="button" (click)="login()" id="login">
                        <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                    </a>

                    <div *ngSwitchCase="true" class="dropdown" ngbDropdown>
                        <a class="btn btn-secondary dropdown-toggle ml-1"  ngbDropdownToggle role="button" href="javascript:void(0);" id="account-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <fa-icon [icon]="userIcon" class="fa-lg"></fa-icon>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="account-menu">
                            <li>
                                <a class="dropdown-item" ngbDropdownItem routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                                    <span class="text-center">Changer mes infos personnelles</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" ngbDropdownItem routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                                    <span class="text-center">Changer mon mot de passe</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" ngbDropdownItem routerLink="account/order" routerLinkActive="active" (click)="collapseNavbar()">
                                    <fa-icon [icon]="orderIcon" class="fa-lg"></fa-icon>
                                    <span class="text-center">Consulter mon historique de commande</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" ngbDropdownItem aria-haspopup="false" aria-expanded="true" (click)="logout()" id="logout">
                                    <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                                    <span class="text-center">Se Deconnecter</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <!--Button Panier-->
                <a class="btn btn-secondary ml-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/panier" role="button">
                    <fa-icon [icon]="cartIcon" class="fa-lg"></fa-icon>
                    <span class="badge badge-pill badge-info ml-1 text-dark">{{nbElementShoppingCart}}</span>
                </a>
            </div>
        </div>

    </div>
</nav>
