<p> Historique de Commande(s)</p>

<table class="table tabble-striped">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Nom Prénom</th>
        <th scope="col">Addresse</th>
        <th scope="col">Status</th>
        <th scope="col">Prix</th>
    </tr>
    </thead>
    <tbody *ngFor="let list of listCustomerOrder!">
    <tr>
        <th *ngIf="list.validationDate" scope="row"> {{list.validationDate!.format("DD/MM/YYYY")}} </th>
        <td *ngIf="(list.deliveryLastName && list.deliveryFirstName)">  {{list.deliveryLastName }} {{list.deliveryFirstName}} </td>
        <td *ngIf="list.deliveryAddress">{{list.deliveryAddress.number}} {{list.deliveryAddress.street}} <br> {{list.deliveryAddress.postalCode}} {{list.deliveryAddress.city}}</td>
        <td *ngIf="list.status">{{list.status}}</td>
        <td *ngIf="list.shoppingCart"> {{list.shoppingCart.totalPrice}} €</td>
    </tr>
    </tbody>
</table>
