<div class="container-fluid">

    <div class="row justify-content-center">
        <h2 class="text-center text-primary">Les plus vendus</h2>
    </div>

    <div class="row justify-content-center" *ngIf="listProductModel">
        <div class=" col-3 m-2" style="width: 18rem;" *ngFor="let product of listProductModel | slice : 0 : 4">
            <a routerLink="/p/{{product.id}}" class="card btn border-secondary btn-outline-secondary h-100">
                <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{product.label}}</h5>
                    <p class="card-text text-center">{{product.price}}€</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <h2 class="text-center text-primary">Vos Activités</h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-3 m-3" style="width: 18rem;" *ngFor="let cat of childrenCategories">
            <a routerLink="/c/{{cat.name}}" class="card btn border-secondary btn-outline-secondary">
                <div class="card-body">
                    <h5 class="card-title text-center">{{cat.name}}</h5>
                </div>
            </a>
        </div>
    </div>

</div>

