<br>
<br>

<div class="container">
    <div class="alert alert-success text-center" role="alert" *ngIf="success">
        Adresse de livraison validée
    </div>

    <mat-accordion class="example-headers-align ">
        <div class="row justify-content-center">
            <div class="col-6">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-panel-description class="justify-content-center">
                    <span>
                            <p class="title" >
                        <fa-icon  [icon]="deliveryIcon" class="fa-lg m-2"></fa-icon>
                        Informations de livraison</p>
                          </span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <form name="form" role="form" (ngSubmit)="submit()" [formGroup]="deliveryAddressForm">


                        <!-- lastname -->
                        <div class="row justify-content-center">
                            <div class="col-10 ">
                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary primary" for="lastName">Nom*</mat-label>
                                    <input matInput name="lastName" id="lastName" formControlName="lastName"/>
                                    <div
                                        *ngIf="deliveryAddressForm.get('lastName')!.invalid && (deliveryAddressForm.get('lastName')!.dirty || deliveryAddressForm.get('lastName')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="deliveryAddressForm.get('lastName')?.errors?.required">
                                            Vous devez entrer votre nom.
                                        </small>
                                    </div>
                                </mat-form-field>

                                <!-- firstname -->


                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary" for="firstName">Prénom*</mat-label>
                                    <input matInput type="text" name="firstName" id="firstName" formControlName="firstName"/>
                                    <div
                                        *ngIf="deliveryAddressForm.get('firstName')!.invalid && (deliveryAddressForm.get('firstName')!.dirty || deliveryAddressForm.get('firstName')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="deliveryAddressForm.get('firstName')?.errors?.required">
                                            Vous devez entrer votre prénom.
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>


                        <!-- StreetNumber -->

                        <div class="row justify-content-center">
                            <div class="col-10">
                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary" for="streetNumber">Numero de voie*
                                    </mat-label>
                                    <input matInput type="text" name="streetNumber" id="streetNumber" size="50%"
                                           formControlName="streetNumber"/>
                                    <div
                                        *ngIf="deliveryAddressForm.get('streetNumber')!.invalid && (deliveryAddressForm.get('streetNumber')!.dirty || deliveryAddressForm.get('streetNumber')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="deliveryAddressForm.get('streetNumber')?.errors?.required">
                                            Vous devez entrer le numéro de voie.
                                        </small>
                                    </div>
                                </mat-form-field>


                                <!-- street -->


                                <mat-form-field>
                                    <mat-label class="form-control-label text-secondary" for="street">Rue*</mat-label>
                                    <input matInput type="text" name="street" id="street"
                                           formControlName="street"/>
                                    <div
                                        *ngIf="deliveryAddressForm.get('street')!.invalid && (deliveryAddressForm.get('street')!.dirty || deliveryAddressForm.get('street')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="deliveryAddressForm.get('street')?.errors?.required">
                                            Vous devez entrer votre rue.
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                        <br>

                        <div>

                            <!-- postCode -->

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <mat-form-field>
                                        <mat-label class="form-control-label text-secondary" for="postCode">Code postal*</mat-label>
                                        <input matInput type="text" name="postCode" id="postCode"
                                               formControlName="postCode" />
                                        <div
                                            *ngIf="deliveryAddressForm.get('postCode')!.invalid && (deliveryAddressForm.get('postCode')!.dirty || deliveryAddressForm.get('postCode')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="deliveryAddressForm.get('postCode')?.errors?.required">
                                                Vous devez entrer votre code postal.
                                            </small>
                                        </div>

                                    </mat-form-field>

                                    <!-- city -->


                                    <mat-form-field>
                                        <mat-label class="form-control-label text-secondary" for="city">Ville*</mat-label>
                                        <input matInput type="text" name="city" id="city"
                                               formControlName="city"/>
                                        <div
                                            *ngIf="deliveryAddressForm.get('city')!.invalid && (deliveryAddressForm.get('city')!.dirty || deliveryAddressForm.get('city')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="deliveryAddressForm.get('city')?.errors?.required">
                                                Vous devez entrer votre ville.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>

                            <!-- phoneNumber -->

                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <mat-form-field>
                                        <mat-label class="form-control-label text-secondary" for="phoneNumber">Numéro de téléphone*
                                        </mat-label>
                                        <input matInput type="text" name="phoneNumber" id="phoneNumber"
                                               formControlName="phoneNumber"/>
                                        <div
                                            *ngIf="deliveryAddressForm.get('phoneNumber')!.invalid && (deliveryAddressForm.get('phoneNumber')!.dirty || deliveryAddressForm.get('phoneNumber')!.touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="deliveryAddressForm.get('phoneNumber')?.errors?.required">
                                                Vous devez entrer votre numéro de téléphone.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="deliveryAddressForm.get('phoneNumber')?.errors?.minlength">
                                                Minimum 10 chiffres.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="deliveryAddressForm.get('phoneNumber')?.errors?.maxlength">
                                                Maximum 10 chiffres.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="deliveryAddressForm.get('phoneNumber')?.errors?.pattern">
                                                Ce numéro n'est pas correct.
                                            </small>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <input type="checkbox" [checked]="saveAddress" (change)="saveAddress=!saveAddress">
                                <label class="saveAddresse">Voulez vous utilisez cette adresse par défault ?</label>
                            </div>
                            <mat-action-row >
                                <button mat-raised-button (click)="nextStep()" type="submit"
                                        [disabled]="!deliveryAddressForm.valid" class="btn btn-secondary">Confirmer
                                </button>
                            </mat-action-row>
                        </div>
                    </form>
                </mat-expansion-panel>
            </div>

        </div>

        <!-- CB form -->

        <div class="row justify-content-center">
            <div class="col-6">
                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header class="">
                        <mat-panel-description class="justify-content-center">
                            <span>
                                    <p class="title" >
                                <fa-icon [icon]="payementIcon" class="fa-lg m-2"></fa-icon>
                                Informations de Paiement</p>
                                  </span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <form name="paymentForm" role="form" [formGroup]="paymentForm"
                          (ngSubmit)="submitPayment()">
                        <div class="row">
                            <div class="col-12">
                                <!-- CB lastName -->

                                <mat-form-field>
                                    <mat-label for="field_lastNameCard">Nom du titulaire de la carte</mat-label>
                                    <input matInput type='text' name="lastNameCard"
                                           id="field_lastNameCard"
                                           formControlName="lastNameCard">
                                    <div
                                        *ngIf="paymentForm.get('lastNameCard')!.invalid && (paymentForm.get('lastNameCard')!.dirty || paymentForm.get('lastNameCard')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('lastNameCard')?.errors?.required">
                                            Veuillez renseigner le nom du titulaire de la carte.
                                        </small>
                                    </div>
                                </mat-form-field>


                                <!-- CB firstName -->

                                <mat-form-field>
                                    <mat-label for="field_firstNameCard">Prénom du titulaire de la carte</mat-label>
                                    <input matInput type='text' name="firstNameCard"
                                           id="field_firstNameCard"
                                           formControlName="firstNameCard">
                                    <div
                                        *ngIf="paymentForm.get('firstNameCard')!.invalid && (paymentForm.get('firstNameCard')!.dirty || paymentForm.get('firstNameCard')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('firstNameCard')?.errors?.required">
                                            Veuillez renseigner le prénom du titulaire de la carte.
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>



                        <br>

                        <!-- card number -->

                        <div class="row">
                            <div class="col-12">
                                <mat-form-field>
                                    <mat-label for="field_cardNumber">Numéro de carte</mat-label>
                                    <input matInput type='text' name="cardNumber"
                                           id="field_cardNumber"
                                           formControlName="cardNumber">
                                    <div
                                        *ngIf="paymentForm.get('cardNumber')!.invalid && (paymentForm.get('cardNumber')!.dirty || paymentForm.get('cardNumber')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('cardNumber')?.errors?.required">
                                            Le numéro de carte est obligatoire (il ne sera pas stocké).
                                        </small>
                                    </div>
                                    <div
                                        *ngIf="paymentForm.get('cardNumber')!.invalid && (paymentForm.get('cardNumber')!.dirty || paymentForm.get('cardNumber')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('cardNumber')?.errors?.minlength">
                                            Attention, il manque des numéros.
                                        </small>
                                    </div>
                                    <div
                                        *ngIf="paymentForm.get('cardNumber')!.invalid && (paymentForm.get('cardNumber')!.dirty || paymentForm.get('cardNumber')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('cardNumber')?.errors?.maxlength">
                                            Attention, il y a des numéros en trop !
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- CVC -->

                        <br>

                        <div class="row">
                            <div class="col-12">

                                <mat-form-field>
                                    <mat-label for="field_cvc">CVC</mat-label>
                                    <input matInput autocomplete='off' class='card-cvc'
                                           placeholder='ex. 311' size='4' type='text' name="cvc" id="field_cvc"
                                           formControlName="cvc">
                                    <div
                                        *ngIf="paymentForm.get('cvc')!.invalid && (paymentForm.get('cvc')!.dirty || paymentForm.get('cvc')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('cvc')?.errors?.required">
                                            Attention, ce champ est obligatoire !
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('cvc')?.errors?.minlength">
                                            Attention, il manque des numéros.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('cvc')?.errors?.maxlength">
                                            Attention, il y a des numéros en trop !
                                        </small>
                                    </div>
                                </mat-form-field>


                                <!-- Month expiration -->

                                <mat-form-field>
                                    <mat-label for="field_expirationMonth">Expiration</mat-label>
                                    <input matInput class='card-expiry-month sizeaaa' placeholder='MM' size='2'
                                           type='text' name="expirationMonth" id="field_expirationMonth"
                                           formControlName="expirationMonth">
                                    <div
                                        *ngIf="paymentForm.get('expirationMonth')!.invalid && (paymentForm.get('expirationMonth')!.dirty || paymentForm.get('expirationMonth')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('expirationMonth')?.errors?.required">
                                            Attention, le mois est obligatoire. </small>
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('expirationMonth')?.errors?.minlength">
                                            Attention, il manque des numéros, le mois n'est pas correcte.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('expirationMonth')?.errors?.maxlength">
                                            Attention, il y a des numéros en trop, le mois n'est pas correcte !
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('expirationMonth')?.errors?.pattern">
                                            Attention, le mois n'est pas correct !
                                        </small>
                                    </div>
                                </mat-form-field>


                                <!-- Year expiration -->


                                <mat-form-field>
                                    <mat-label class='control-label' for="field_expirationYear">Expiration</mat-label>
                                    <input matInput class=' card-expiry-Year' placeholder='YYYY' size='2'
                                           type='text' name="expirationYear" id="field_expirationYear"
                                           formControlName="expirationYear">
                                    <div
                                        *ngIf="paymentForm.get('expirationYear')!.invalid && (paymentForm.get('expirationYear')!.dirty || paymentForm.get('expirationYear')!.touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('expirationYear')?.errors?.required">
                                            Attention, l'année est obligatoire.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('expirationYear')?.errors?.minlength">
                                            Attention, il manque des numéros, l'année n'est pas correcte.
                                        </small>
                                        <small class="form-text text-danger"
                                               *ngIf="paymentForm.get('expirationYear')?.errors?.maxlength">
                                            Attention, il y a des numéros en trop, l'année n'est pas correcte !
                                        </small>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center total">Total: {{totalPanier}}</p>
                            </div>
                        </div>

                        <mat-action-row>

                                <button mat-button class="btn btn-secondary" (click)="nextStep()" type="submit"
                                        [disabled]="!paymentForm.valid">Valider le payement
                                </button>

                        </mat-action-row>


                    </form>
                </mat-expansion-panel>
            </div>
        </div>
    </mat-accordion>
</div>
