@import './src/main/webapp/content/scss/bootstrap-variables';

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.title {
  color: $brown-dark;
  font-size: large;
}

.saveAddresse {
  color: $brown-light;
}

.success {
  background-color: $green-light;
}

.total {
  color: $brown-dark;
  font-size: large;
}
