<div>
    <h2 id="page-heading">
        <span>Gestion des Stocks</span><br>
        <span *ngIf="productModel">{{productModel.label}}</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product"  *ngIf="productModel" [routerLink]="['/pm/stock/',productModel.id ,'new']">
            <span class="hidden-sm-down">
            Ajouter une déclinaison
            </span>
        </button>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="productAndCaracteristics?.length === 0">
        <span>No products found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productAndCaracteristics && productAndCaracteristics.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col" ><span>ID</span></th>
                <th scope="col" ><span>Nb Stock</span></th>
                <th scope="col" ><span>Caracteristique</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of productAndCaracteristics">
                <td><a *ngIf="product.product" [routerLink]="['/product', product.product.id, 'view']">{{ product.product.id }}</a></td>
                <td *ngIf="product.product">{{ product.product.nbStock }}</td>
                <td *ngIf="product.caracteristics">{{ product.caracteristics[0].label }}: {{product.caracteristics[0].value}}
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
