<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading">Create or edit a Product</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nbStock">Nb Stock</label>
                    <input type="number" class="form-control" name="nbStock" id="field_nbStock"
                           formControlName="nbStock"/>
                    <div *ngIf="editForm.get('nbStock')!.invalid && (editForm.get('nbStock')!.dirty || editForm.get('nbStock')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nbStock')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('nbStock')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_version">Version</label>
                    <input type="number" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                    <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('version')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('version')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_productModel">Product Model</label>
                    <select class="form-control" id="field_productModel" name="productModel" formControlName="productModel">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="productModelOption.id === editForm.get('productModel')!.value?.id ? editForm.get('productModel')!.value : productModelOption" *ngFor="let productModelOption of productmodels; trackBy: trackById">{{ productModelOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
