<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nb Stock</span></dt>
                <dd>
                    <span>{{ product.nbStock }}</span>
                </dd>
                <dt><span>Version</span></dt>
                <dd>
                    <span>{{ product.version }}</span>
                </dd>
                <dt><span>Product Model</span></dt>
                <dd>
                    <div *ngIf="product.productModel">
                        <a [routerLink]="['/product-model', product.productModel?.id, 'view']">{{ product.productModel?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
