/*
* Bootstrap overrides https://getbootstrap.com/docs/4.0/getting-started/theming/
* All values defined in bootstrap source
* https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss can be overwritten here
* Make sure not to add !default to values here
*/

$green: #4caf50 !default;
$green-dark: #087f23 !default;
$green-light: #80e27e !default;
$brown: #795548 !default;
$brown-dark: #4b2c20 !default;
$brown-light: #a98274 !default;
$yellow: #ffff00 !default;

$primary: $green-dark !default;
$secondary: $brown-dark !default;
$info: $yellow !default;

$success: $green !default;
/*
$info: $cyan !default;
$warning: $yellow !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;


*/
@import 'node_modules/bootstrap/scss/bootstrap';
