<div class="container-fluid">

    <div class="row">
        <div>
            <h5 class="align-middle" for="sort-select">Trier par :</h5>
        </div>
        <div class="col-3 form-group" style="vertical-align: middle">
            <select class="form-control align-middle" name="sort" id="sort-select" [(ngModel)]="whichSort" (change)="sortProductModelByPrice()">
                <option value="true">Ordre croissant</option>
                <option value="false">Ordre décroissant</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-3 m-2"  *ngFor="let product of listProductModel">
            <a href="/p/{{product.id}}" class="card btn btn-outline-secondary border-secondary align-middle">
                <img src="{{product.imageUrl}}" class="card-img-top imgCard" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{product.label}}</h5>
                    <p class="card-text text-center">{{product.price}}€</p>
                </div>
            </a>
        </div>

    </div>

</div>

